<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <context-param>
        <param-name>CaptchaStrategy</param-name>
        <param-value>hidden</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>
            com.epam.preprod.voitenko.listener.InitListener
        </listener-class>
    </listener>
</web-app>